.squareCanvas {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatarBox {
    width: 400px;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
    /* border: 2px solid blue; */
    box-shadow: 0 0 4px #c7c7c7;
}